.unity-image {
    --unity-image-size: scale-to-fit;
}

#ScrollIcon {
	--unity-image: url('/Assets/Sprites/LightTheCandle/UI/MouseScroll.png');
}

#MicIcon{
	--unity-image: url('/Assets/Sprites/LightTheCandle/UI/mic.png');
}

#ScrollText {

}